/* The Modal (background) */
.modalI{
        display: none; /* Hidden by default */
}
.modalM{
        display: none; /* Hidden by default */
}
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    max-height:100vh;
    overflow: auto;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#targetAdd, #targetIngredient, #targetMethod {
    margin: 15% auto; /* 15% from the top and centered */
    width: 80%;
}

#targetAdd > .modal-content,
#targetIngredient > .modal-content,
#targetMethod > .modal-content {
    width: 100%;
}

#modalDetails > div,
#modalAdd > div > div {
    margin: 7% auto;
}

/* The Close Button */
.modal-header .close {
    color: black;
    float: right;
    margin-top: -10px;
    opacity: 0.5;
    font-size: 28px;
    font-weight: bold;
}
.modal-header, .modal-footer {
        padding: 10px 10px 0px 0px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    background-color: palegoldenrod;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-footer {
    background-color: palegoldenrod;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal-body {
    padding-top: 5px;
}

.modal-heading {
    margin-top:10px;
}
